name: CI Security Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test || echo "no tests"

      - name: Semgrep SAST
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/owasp-top-ten"
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

      - name: Build Docker image
        run: docker build -t devsecops-app:${{ github.sha }} .

      - name: Install Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'image'
          image-ref: 'devsecops-app:${{ github.sha }}'
          format: 'table'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
  push-image:
    needs: build-and-scan
    runs-on: ubuntu-latest
    if: success()
    steps:
      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USER }}" --password-stdin
      - name: Build and push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USER }}/devsecops-app:${{ github.sha }} .
          docker push ${{ secrets.DOCKERHUB_USER }}/devsecops-app:${{ github.sha }}
